<h3> Welcome <%=current_user.user_name.capitalize%> To Your Soccer Jersey Locker </h3> 

<a href="Logout">
  <form action="/logout" method="post">
    <input type="hidden"  name= "_method"  value="DELETE">
    <input type="submit" value="Logout">
  </form>
</a>
</nav>

<nav>
  <a href='jerseys/new'> 
  <button> New Kit </button>
  </a>
</nav>

<% @jerseys.each do |jersey|%>
<p> Club Name: <%= jersey.club_name%> |  Jersey Number: <%= jersey.number%></p>

<div class="btn-group">
  <form action="/jerseys/<%= jersey.id %> " method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="RED CARD!!!">
    </form>
  
  <a href= "/jerseys/<%= jersey.id %>/edit"> 
    <button> 
      Substitution
    </button>
  </a> 
</div>













